/*
 Theme Name:     Habitar Habitat - Twelve Child
 Theme URI:      http://example.com/twenty-twelve-child/
 Description:    HabitarHabitat Twenty Twelve Child Theme
 Author:         Pedro Markun
 Author URI:     http://github.com/pmarkun
 Template:       twentytwelve
 Version:        1.0.0
*/

@import url("../twentytwelve/style.css");

/* =Theme customization starts here
-------------------------------------------------------------- */

/*-- move sidebar to the left --*/
@media screen and (min-width: 600px) {
    .site-content {
        float: right;
    }
    .widget-area {
        float: left;
    }
}

/* for IE8 and IE7 ----------------*/
.ie .site-content {
    float: right;
}
.ie .widget-area {
    float: left;
}

/* Background reset */

body {
    background-color:#fff;
}

#page {
    box-shadow: 0 0 0 0;
    margin-top:0;
}

a, a:visited {
    color: #93101c;
    text-decoration: none;
}

a:hover, a:active { 
    color: #ccc;
    text-decoration: none;
}

/* Site header */
.site-header .site-title {
    text-indent: -9000px
}

.site-header .site-logo {
    display: block;
    width:100px;
    height:100px;
    background-image: url('images/logo.png');
}

.header-wrap {
    padding-bottom:100px;
}

.site-header .header-menu {
    float:left;
}

.site-header .header-menu {
    height:48px;
    padding-left:15px;
    padding-top:40px;
}

.site-header .header-menu li {
    float:right;
    padding:2px;
    text-transform:uppercase;
}

.site-header .header-menu li a {
    color:#6a6a6a;
    text-decoration:none;
}

.site-header .header-menu li a:hover {
    color: #93101c;
}
.site-header hgroup {
    float:left;
}
.header-search {
    padding-left:10px;
    padding-top:40px;
    float:left;
}

.header-search input[type='text'] {
        width:30em;
}

/* Menu Habitar */
.site-header .nav-title {
    font-size:1.5em;
    font-weight: bold;
    float:left;
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    height:48px;    
    margin-right:10px;
}

.site-header ul.nav-menu-habitar {
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    height:48px;
    text-align: left;
}

.site-header .nav-menu-habitar li {
    margin:0;
    padding:0;
}

.site-header .nav-menu-habitar li a {
    text-transform: lowercase;
    font-weight: bold;
    font-size:1.3em;
    line-height:1;
    color:#ccc;
}

.site-header .nav-menu-habitar li.current-menu-item a {
    color: #93101c;
}

 .site-header .nav-menu-habitar li.current-post-parent a {
    color: #93101c;   
 }

.site-header .nav-menu-habitar li a:hover {
    color: #93101c;
}

/* Logos */

.logos {
    position:absolute;
    top:5px;
    right:170px;
}

.logos a {
    display: block;
    background-repeat: no-repeat;
    float:left;
    padding-right:20px;
}

.logos .sesctv {
    background-image: url('images/sesctv_logo.png');
    width:170px;
    height:40px;
}

.logos .sesc {
    background-image: url('images/sesc_logo.png');
    width:80px;
    height:40px;
}

/* Post */

.video-placeholder {
    width:720px;
    height:480px;
    background-color: #ccc;
}

.grid-container {
    background-color: #ccc;
}

.small-grid {
    float:left;
    text-align: center;
    width:100px;
    min-height:120px;
    margin-right:20px;
    margin-bottom:20px;
}

.small-grid img {
    border:3px solid white;
    box-shadow: 3px 3px 2px #888;
    width:98px;
    height:77px;
}

.small-grid a {
    float:left;
    width:100%;
    color:#6a6a6a;
    text-decoration: none;
    font-size: 1.2em;
    padding-top:5px;
}

.entry-meta a {
    color: #93101c;
}

.entry-meta a:hover {
    color: #ccc;
}
/* Sidebar */
aside.cat-historias {
		border: 1px solid #eee;
		border-bottom: none;
		padding: 10px;
		height: 40px;
}

aside.cat-historias div.content {
		float:left;
		width:150px;
		padding-left:10px;
}

a aside.cat-historias {
		color: #6a6a6a;
		text-decoration: none;
}

aside.current, aside.cat-historias:hover {
		background-color: #6a6a6a;
}

a aside.current, a aside.cat-historias:hover {
		color: #fff;
}

aside.cat-historias img {
		float:left;
}

/* Anexos */

.format-link .entry-title {
    margin-top:0px;
}

/* Fotos */ 

.format-image .entry-title {
    margin-top:0px;
}

/* Saiba Mais */

.saibamais {
    font-size: 2.2em;
    padding-bottom:0.6em;
}

.small-grid a {
    line-height: 1;
}